// Specific CSS for your home-page

.screen{
  display: flex;
  width: 100%;
}

.content-wrapper{
  width: 80%;
}

.section-slidinhojs {
    display: none;
//    overflow: scroll;
    background-color: #FFFFFF;
}

.section-active {
  display: flex;
}

.hidden-xs{
  @media (max-width: $screen-xs) {
   display: none;
  }

}
