

#container-photos {
  position: relative;
  top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 30px;
  img {
    height: 200px;
    margin: 8px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}

/* Slider */
#slider-container {
  display: none;
  position: fixed;
  -webkit-transform: translate3d(0,0,0);
//  overflow: visible;
  // z-index: 999;
  left: 0;
  // width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.85);
}

.photo-slider {
  display: none;
  width: 65%;
}

.photo-slider-active {
  display: block;
}

#arrow-right, #arrow-left {
  cursor: pointer;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  width: 35px;
  height: 35px;
  opacity: 0.5;
}

#arrow-right {
  transform: rotate(45deg);
  margin-left: 90px;
  transition: all 0.3s;
  &:hover {
    margin-left: 100px !important;
    opacity: 1 !important;
  }
}

#arrow-left {
  transform: rotate(-135deg);
  margin-right: 90px;
  transition: all 0.3s;
  &:hover {
    margin-right: 100px !important;
    opacity: 1 !important;
  }
}

#closing-cross {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35px;
  right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: rotate(45deg);
  &:hover #cross-horizontal-part {
   transform: rotate(-45deg);
  };
  &:hover #cross-vertical-part {
    transform: rotate(45deg);
  };
}

#cross-vertical-part {
  background-color: #000;
  height: 100%;
  width: 1px;
  transition: all 0.3s;
}

#cross-horizontal-part {
  background-color: #000;
  height: 1px;
  width: 100%;
  position: absolute;
  transition: all 0.3s;
}
