.photos-section {
  display: flex;
  left: 0;
}

.container-photos {
  .column-img {
    padding: 5px !important;
  }
  img {
    width: 100%;
    height: max-content;
  }
}

.box-photo {
  height: 150px;
}
