.videos-section {
  display: flex;
  background-color: $light-gray;
  right: 0;
}

.container-videos {
  // width: 80vw;
  // position: relative;
  // right: 0;
  .column-img {
    padding: 5px !important;
  }
  img {
    width: 100%;
    height: max-content;
  }
}

.box-video {
  height: 150px;
}
