<div class="section-slidinhojs contact-section">

    <%= cl_image_tag 'PictureNearForm-compressor.jpg', class: 'image-contact-section' %>
  <div class="form-wrapper">
    <div class="body">
      <h2>CREATOR.</h2>
      <p>Located in Montreal</p>
    </div>
    <div class="form">
      <h2>LETS CONNECT.</h2>
      <%= render 'messages/form' %>
    </div>
  </div>
</div>
