<div class="section-slidinhojs contact-section">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>Hi! I'm Damien, creative photographer. Capturing moment of life is my passion. Want to work together? Just send me a message and I'll get back to you asap!</p>
      <%= cl_image_tag 'Leonard-Cohen-compressor.jpg', class: 'image-contact-section' %>
    </div>
    <div class="col-xs-12 col-md-6 form-container">
        <%= render 'messages/form' %>
    </div>
  </div>
</div>
