<!-- <div class="navbar">
  </ul>
    <li class="navlist">
      <i class="fas fa-home"></i>
    </li>
    <li class="navlist">
      <i class="fas fa-camera"></i>
    </li>
    <li class="navlist">
      <i class="fas fa-video"></i>
    </li>
    <li class="navlist">
      <i class="far fa-envelope"></i>
    </li>
  </ul>
</div>


 -->
