<div class="navigation">
  <%= render 'shared/logo' %>
  <ul>
    <li id="nav-photos">PHOTOS</li>
    <li id="nav-videos">VIDEOS</li>
    <li id="nav-instagram">INSTAGRAM</li>
    <li id="nav-contact">WHO I AM</li>
  </ul>
</div>
