<div class="navigation">
  <div class="nav-wrapper">
    <%= render 'shared/logo' %>
    <div class="left-nav">
      <ul>
        <li id="nav-photos">PHOTOS</li>
        <li id="nav-videos">VIDEOS</li>
        <li id="nav-contact">WHO I AM</li>
      </ul>
      <div class="footer">
        <a href="https://www.instagram.com/damien_guillot_/" id="instagram" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <p class="copyright">© Damien Guillot</p>
      </div>
    </div>
  </div>
</div>


