<div class="section-slidinhojs photos-section">
  <div id="container-photos">
    <% i = 0 %>
    <% @photos.each do |photo| %>
      <% i += 1 %>
      <%= cl_image_tag photo.url, :data => { :index => i } %>
    <% end %>
  </div>

  <div id="slider-container">
    <div id="closing-cross">
      <div id="cross-vertical-part"></div>
      <div id="cross-horizontal-part"></div>
    </div>
    <div id="arrow-left"></div>
    <% j = 0 %>
    <% @photos.each do |photo| %>
      <% j += 1 %>
      <%= cl_image_tag photo.url, class: 'photo-slider', :data => { :index => j } %>
    <% end %>
    <div id="arrow-right"></div>
  </div>

</div>

