<div class="section-slidinhojs photos-section">
  <div class="container-photos">
    <div class="row">
      <%= @photos.each do |photo| %>
        <div class="col-xs-12 col-sm-6 col-md-3 column-img">
          <%= cl_image_tag photo.url %>
        </div>
      <% end %>
    </div>
  </div>
</div>
