<div class="section-slidinhojs videos-section">
  <div class="container-videos">
    <div class="row">
      <% @videos.each do |video| %>
        <div class="col-xs-12 column-video">
          <iframe src="<%= video.url %>" width="640" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      <% end %>
    </div>
  </div>
</div>
