@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.container-logo {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.logo-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 80px;
  letter-spacing: 3px;
}
