.navigation {
  padding-top: 20px;
  width: 20%;
  height: 100vh;
  text-align: center;
  background-color: #FFFFFF;
}

.left-nav {
    top: 106px;
    left: 31px;
    right: auto;
    text-align: left;
    ul {
    padding-left: 25px;
    list-style: none;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 2.3;
    li {
      cursor: pointer;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 12px;
  .copyright {
    font-size: 10px;
  };
  #instagram {
      font-size: 40px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($black, $black);
    background: -o-linear-gradient($black, $black);
    background: -moz-linear-gradient($black, $black);
    background: linear-gradient($black, $black); /* Standard syntax */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    &:hover {
      background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
      background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  };
  .nav-wrapper{
    position: fixed;
    height: 100vh;
  }

}
