.navigation {
  padding-top: 20px;
  width: 20%;
  height: 100vh;
  text-align: center;
  background-color: #FFFFFF;
}

.left-nav {
    top: 106px;
    left: 31px;
    right: auto;
    text-align: left;
    ul {
    padding-left: 25px;
    list-style: none;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 2.3;
    li {
      cursor: pointer;
    }
  }
}

.copyright {
  position: absolute;
    bottom: 10px;
    left: 12px;
  font-size: 10px;
}

.nav-wrapper{
  position: fixed;
  height: 100vh;
}
