@media screen and (max-width: 1275px) {
  .logo-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 1150px) {
  .logo-title {
    font-size: 14px;
  }
}


@media screen and (max-width: 1050px) {
  .logo-title {
    font-size: 12px;
  }
}

@media screen and (max-width: 972px) {
  .navigation {
    position: fixed;
    width: 100vw;
    height: 180px;
    z-index: 9;
    h1 {
      font-size: 18px;
    };
    li {
      font-size: 14px;
    };
  };
  .nav-wrapper {
    height: auto;
    position: static;
    ul {
      padding-left: 0;
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  };
  .content-wrapper {
    position: relative;
    width: 100vw;
    top: 180px;
  };
  .copyright, #instagram-full-screen {
    display: none;
  };
  #instagram-small-screen {
    font-size: 270px;
    display: inline-flex;
    position: absolute;
    z-index: 9;
    top: calc(50vh - 160px + 67.5px);
    left: calc(50vw - 100px);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  };
  .image-contact-section {
    display: none;
  }
}

@media screen and (max-width: 675px) {
  .navigation {
    height: 160px;
    h1 {
      font-size: 16px;
    };
    li {
      font-size: 12px;
    };
  };
  .content-wrapper {
    top: 160px;
  };
}

@media screen and (max-width: 380px) {
  .navigation {
    height: 260px;
    h1 {
      font-size: 48px;
    };
    li {
      font-size: 36px;
    };
  };
  .content-wrapper {
    top: 260px;
  };
}
